<div class="container">
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
		<img src="http://farm2.staticflickr.com/1399/1428001549_bb89117ee8_o.jpg" />
    	<div class="carousel-caption">
    		<p>The rotunda of Low Library</p>
    	</div>
    </div>
    <div class="item">
    	<img src="http://images.bwog.com/wp-content/uploads/2011/09/Low-Library-Sunset.jpg" />
    	<div class="carousel-caption">
    		<p>Low Library at Sunset</p>
    	</div>
    </div>
    <div class="item">
		<img src="http://farm4.staticflickr.com/3275/2982781943_47af0d915c_o.jpg" />
    	<div class="carousel-caption">
    		<p>Inscription on the facade of Low Library</p>
    	</div>
    </div>
    <div class="item">
    <img src="http://farm2.staticflickr.com/1240/1428003181_db865e9689_o.jpg" />
      <div class="carousel-caption">
        <p>Ceiling of Low Library's dome</p>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>