<div id="header-img"></div>
<div class="container">
	<div class="container container-narrow">
	<h1 id="h1-home">Low Memorial Library</h1>
	<p>Administration Building @<%= link_to "Columbia University", "http://www.columbia.edu" %> </p>
	<hr>
	<h4>Some interesting things to know about Low:</h4>
	<ul>
		<li>It was built in 1897.</li>
		<li>It was designed by McKim, Mead and White, which also designed much of the rest of campus.</li>
		<li>The dome stands 106 feet tall and is the largest granite dome in the United States.</li>
		<li>It was originally a library, but converted to administration in 1934 when it was determined that it was unsuited to hold books.</li>
		<li>It was named by Seth Low, former President of Columbia University, after his father Abiel Abbot Low.</li>
	</ul>
	<br />
	<h4>Overview</h4>
	<p>Low Library is the focal point of Columbia University’s main campus in Morningside Heights. Completed in 1897 under the leadership of University President Seth Low, Low Library is the face of Columbia and houses its administrative functions.</p>
	<p>Upon entering Columbia University through the main gates on Broadway, visitors are blocked from immediately viewing the center of campus. Only after walking down College Walk into Low Plaza can they see Butler Library and the green fields of the main campus off to the right, and then Low Library to the left atop a great staircase. Standing on the edge of the elevated platform that holds the majority of Columbia University’s Morningside Heights campus, Low is by far the most conspicuous and attention-drawing structure visible from College Walk. Its grandeur is striking, and upon first glance it is breathtaking. The Library’s elevation makes it seem larger and grander from the plaza below, and its stature makes it universally associated directly with Columbia and its history.
	</p>
</div>
</div>