<div id="header-img"></div>
<div class="container">
	<div class="container container-narrow">
	<h1 id="h1-home">Low Memorial Library</h1>
	<p>Administration Building @<%= link_to "Columbia University", "http://www.columbia.edu" %> </p>
	<hr>
	<h4>Some interesting things to know about Low:</h4>
	<ul>
		<li>It was built in 1897.</li>
		<li>It was designed by McKim, Mead and White, which also designed much of the rest of campus.</li>
		<li>It stands 106 feet tall.</li>
		<li>It was originally a library, but converted to administration in 1934 when it was determined that it was unsuited to hold books.</li>
		<li>It was named by Seth Low, former President of Columbia University, after his father Abiel Abbot Low.</li>
	</ul>
	<br />
	<h4>Overview</h4>
	<p>Low Library is the focal point of Columbia University’s main campus in Morningside Heights. Completed in 1897 under the leadership of University President Seth Low, Low is the face of Columbia and houses its administrative functions.</p>
	<p>When one first enters Columbia University through the main gates on Broadway, they are blocked from viewing the center of campus. Upon walking down College Walk into Low Plaza, they can see Butler Library standing off to the right, the green fields of the main campus, and then Low Library to the left atop a great staircase. Standing on the edge of the elevated platform that holds the majority of Columbia University’s Morningside Heights campus, Low is by far the most conspicuous and attention-drawing structure. Its grandeur cannot be overstated, and upon first glance it is breathtaking. Its elevation relative to Low Plaza and College Walk makes it seem larger and grander, and the statue of Alma Mater in the front solidifies its representation as Columbia’s flagship building.
	</p>
</div>
</div>