<div id="header-img"></div>
<div class="container">
	<div class="container container-narrow">
	<h1 id="h1-home">Low Memorial Library</h1>
	<p>Administration @<%= link_to "Columbia University", "http://www.columbia.edu" %> </p>
	<hr>
	<h4>Some interesting things to know about Low:</h4>
	<ul>
		<li>It was built in 1865.</li>
		<li>It was designed by Major Bruno, the same man who designed the White House.</li>
		<li>It stands 150 feet above Columbia University campus.</li>
		<li>It was originally a library, but abandoned for Butler when the books started sinking into the foundation.</li>
		<li>It was named after Alfred Low, former President of Columbia University.</li>
	</ul>
	<br />
	<h4>This is a test</h4>
	<p>Dude, this is a test. Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.Dude, this is a test.</p>
</div>
</div>